@charset "UTF-8";

body	{margin: 0;
	font-family: 'Source Sans Pro', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

/* Site name */
.site a		{color: #000000;
			font-size: 30px;
			font-family: 'Paytone One', 'sans-serif';
			text-decoration: none;}

/* header image */
.heading	{width: 100%;
			height: auto;
			vertical-align: bottom;}

/* お知らせ */
.news {padding: 20px;
		border: solid 6px #dddddd;}

.news h2 {margin-top: 0;
	margin-bottom: 5px;
		font-size: 18px;
		color: #666666;}


.news ul {margin: 0;
		padding: 0;
		list-style: none;}

.news li a {display: block;
		padding: 5px;
		border-bottom: dotted 2px #dddddd;
		color: #000000;
		font-size: 14px;
		text-decoration: none;}	

.news li a:hover {background-color: #eeeeee}		

/* copyright */
.copyright p	{margin: 0;
				color: #666666;
				font-size: 14px;}

/* grid */
body {display: grid;
	grid-template-columns: [left] 1fr [main] 1140px [main-end] 1fr [right];
	grid-template-rows: [head] auto [img] auto [foot] auto [bottom] auto}

.site	{grid-column-start: main;
		grid-row-start: head;}	

.heading	{grid-column-start: main;
		grid-row-start: img;}	

.news	{grid-column-start: main;
		grid-row-start: main;}	

.copyright	{grid-column-start: main;
		grid-row-start: foot;}	
